@model Indelible.Models.Document

@{
    ViewBag.Title = "Download";
}

<h2>Do you want to download this file?</h2>

@using (Html.BeginForm())
{
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Contract Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractAddress)
        </dd>

        <dt>
            Document Hash
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hash)
        </dd>

        <dt>
            Time Stamp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            Public
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>

    </dl>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Download" class="btn btn-default" />
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { UserName = Model.UserName })
</p>
}
